  .about {
    background: #0a0f14 url(../img/about-img.png) no-repeat -74% 60%;
    background-size: 42% 58%;
    padding: 100px 0;
    opacity: 0.9;
    .about-informations {
      text-align: center;
      .about-title {
        font-family: $global-montserrat-regular;
        font-size: 36px;
        line-height: 40px;
        font-weight: 400;
        color: white;
      }
      .h-line-1 {
        margin: 0 auto;
        width: 76px;
        height: 1px;
        background-color: $color-aqua;
      }
      .h-line-2 {
        width: 76px;
        height: 1px;
        margin: 4px 47% 0 49%;
        background-color: $color-aqua;
      }
      .nav-tabs>li.active>a,
      .nav-tabs>li.active>a:focus,
      .nav-tabs>li.active>a:hover {
        background: none;
        border: none;
      }
      .nav-tabs>li>a,
      .nav-tabs>li>a:focus,
      .nav-tabs>li>a:hover,
      .nav>li>a {
        padding: 0;
        background: none;
        border: none;
      }
      .about-tab {
        margin-top: 25px;
        border: none;
        .li-about {
          margin-right: 18px;
          display: inline-block;
          float: none;
          font-family: $global-montserrat-regular;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          &:last-child {
            margin-right: 0;
          }
        }
        .li-about:hover,
        .li-about:focus,
        .li-about:active {
          margin-top: -2px;
          border-top: 2px solid $color-aqua;
        }
        .a-about {
          line-height: 50px;
          color: whitesmoke;
        }
        .a-about:hover,
        .a-about:active {
          color: $color-aqua;
        }
        .a-about:focus {
          outline: 0;
        }
      }
      .tab-content {
        .fade {
          transition: 2s;
          -webkit-transition: 2s;
        }
        .p-content {
          width: 85%;
          max-width: 520px;
          margin: 20px auto;
          text-align: justify;
          font-family: $global-montserrat-regular;
          font-size: 14px;
          line-height: 25px;
          font-weight: 300;
          color: #bebebe;
        }
        .history {
          .history-info {
            width: 25%;
            min-width: 240px;
            display: inline-block;
            input[type="checkbox"] {
              display:none;
            }
            input[type="checkbox"] + label span {
              width: 30px;
              height: 30px;
              margin: -10px 4px 0 0;
              display: inline-block;
              vertical-align: middle;
              background: url(../img/icons/checkbox.png) -33px 0 no-repeat;
              cursor: pointer;
            }
            input[type="checkbox"]:checked + label span {
              background:url(../img/icons/checkbox.png) no-repeat;
            }
          }
          .done-list {
            font-family: $global-montserrat-regular;
            font-size: 14px;
            line-height: 38px;
            font-weight: 300;
            color: #bebebe;
          }
        }
        .biography {
          width: 85%;
          max-width: 520px;
          margin: 20px auto;
          text-align: justify;
          font-family: $global-montserrat-regular;
          font-size: 14px;
          line-height: 25px;
          font-weight: 300;
          color: #bebebe;
        }
        #skill {
          width: 100%;
          max-width: 640px;
          margin-top: 25px;
          padding-left: 50px;
          margin-right: 20px;
          .block-skill {
            height: 39px;
            text-align: left;
            margin-left: 38px;
            margin-right: 80px;
            margin-bottom: 14px;
            border: 1px solid #959595;
            border-radius: 4px;
            background-color: #0a0f14;
          }
          .user-interface {
            width: 70%;
            height: 39px;
            margin-top: -1px;
            margin-left: -1px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #9c5da5;
          }
          .web-design {
            width: 85%;
            height: 39px;
            margin-top: -1px;
            margin-left: -1px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #11b0de;
          }
          .wordpress {
            width: 60%;
            height: 39px;
            margin-top: -1px;
            margin-left: -1px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #d67f7f;
          }
          .html-css {
            width: 90%;
            height: 39px;
            margin-top: -1px;
            margin-left: -1px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #20bc9d;
          }
          .app-design {
            width: 85%;
            height: 39px;
            margin-top: -1px;
            margin-left: -1px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #bb8a36;
          }
        }
      }
    }
  }
  @media #{$bootstrap-sm} {
    .about {
      background: #0a0f14;
      .about-informations {
        .about-title {
          text-align: center;
          margin: 0;
        }
        .h-line-1 {
          margin: 20px auto 0;
          width: 76px;
          height: 1px;
          background-color: $color-aqua;
        }
        .h-line-2 {
          width: 76px;
          height: 1px;
          margin: 4px 51% 0 49%;
          background-color: $color-aqua;
        }
        .about-tab {
          width: 100%;
          text-align: center;
          margin: 0;
          margin-top: 25px;
        }
        .tab-content {
          .p-content {
            margin: 20px auto 0;
          }
          .history {
            margin: 0;
            margin-left: 70px;
            .history-info {
              width: 45%;
              min-width: 250px;
              padding-top: 25px;
              float: left;
            }
          }
          .biography {
            margin: 20px auto 0;
          }
          #skill {
            margin: 25px auto 0;
          }
        }
      }
    }
  }
  @media #{$bootstrap-xs} {
    .about {
      background: #0a0f14;
      padding: 50px 0;
      .about-informations {
        .about-title {
          font-size: 24px;
          margin: 0;
        }
        .h-line-1 {
          margin: 16px auto 0;
        }
        .h-line-2 {
          margin: 3px 51% 0 49%;
        }
        .about-tab {
          .li-about {
            margin-right: 5px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 700;
          }
        }
        .tab-content {
          .history .done-list {
            font-size: 12px;
            padding-top: 5px;
            line-height: 30px;
          }
          .p-content {
            width: 85%;
            margin: 10px auto;
            text-align: justify;
            font-family: $global-montserrat-regular;
            font-size: 14px;
            font-weight: 300;
            color: #bebebe;
          }
          .biography {
            width: 85%;
            margin: 10px auto;
            text-align: justify;
            line-height: 25px;
            font-size: 14px;
          }
          #skill {
            padding-left: 0;
            .block-skill {
              margin-right: 45px;
              .user-interface,
              .web-design {
                font-size: 10px;
              }
              .app-design,
              .html-css,
              .wordpress {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }