  .about {
    background-color: #0a0f14;
    .about-img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 55%;
    }
    .about-informations {
      float: right;
      min-height: 510px;
      width: 60%;
      .about-title {
        margin-top: 35px;
        text-align: center;
        font-family: $global-montserrat-regular;
        font-size: 36px;
        line-height: 40px;
        font-weight: 400;
        color: white;
      }
      .h-line-1 {
        margin: 0 auto;
        width: 76px;
        height: 1px;
        background-color: $color-aqua;
      }
      .h-line-2 {
        width: 76px;
        height: 1px;
        margin: 4px auto;
        margin-right: 47%;
        background-color: $color-aqua;
      }
      .nav-tabs>li.active>a,
      .nav-tabs>li.active>a:focus,
      .nav-tabs>li.active>a:hover {
        background: none;
        border: none;
      }
      .nav-tabs>li>a,
      .nav-tabs>li>a:focus,
      .nav-tabs>li>a:hover
      .nav>li>a {
        padding: 0;
        background: none;
        border: none;
      }
      .about-tab {
        width: 100%;
        text-align: center;
        height: 50px;
        margin-top: 25px;
        border: none;
        .li-about {
          display: inline-block;
          float: none;
          margin-right: 18px;
          font-family: $global-montserrat-regular;
          text-transform: uppercase;
          font-size: 16px;
          line-height: 42px;
          font-weight: 700;
           &:last-child {
              margin-right: 0;
           }
        }
        .li-about:hover,
        .li-about:focus,
        .li-about:active {
          text-align: center;
          border-top: 2px solid $color-aqua;
          background: none;
        }
        .a-about {
          text-align: center;
          line-height: 50px;
          color: whitesmoke;
        }
        .a-about:hover,
        .a-about:active,
        .a-about:focus{
          color: $color-aqua;
        }
      }
      .tab-content {
        width: 100%;
        .fade {
          transition: none;
          -webkit-transition: none;
        }
        .fix-row {
          margin: 0;
          margin-left: 15px;
        }
        // Content history
        .p-content {
          width: 90%;
          margin: 0 auto;
          margin-bottom: 25px;
          text-align: justify;
          font-family: $global-montserrat-regular;
          font-size: 14px;
          line-height: 25px;
          font-weight: 300;
          color: #bebebe;
        }
        .done-icon {
          float: left;
          margin-top: 5px;
          margin-right: 10px;
        }
        .done-list {
          width: 100%;
          text-align: center;
          font-family: $global-montserrat-regular;
          font-size: 14px;
          line-height: 38px;
          font-weight: 300;
          color: #bebebe;
        }
        // Content biography
        .biography {
          width: 90%;
          margin: 0 auto;
          margin-top: 10px;
          text-align: justify;
          font-family: $global-montserrat-regular;
          font-size: 14px;
          line-height: 25px;
          font-weight: 300;
          color: #bebebe;
        }
        // Content skill
        #skill {
          margin-left: 20px;
          margin-top: 25px;
          margin-right: 20px;
          .block-skill {
            width: 100%;
            height: 39px;
            margin-bottom: 14px;
            border: 1px solid #959595;
            border-radius: 4px;
            background-color: #0a0f14;
          }
          .user-interface {
            width: 70%;
            height: 37px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #9c5da5;
          }
          .web-design {
            width: 85%;
            height: 37px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #11b0de;
          }
          .wordpress {
            width: 60%;
            height: 37px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #d67f7f;
          }
          .html-css {
            width: 90%;
            height: 37px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #20bc9d;
          }
          .app-design {
            width: 85%;
            height: 37px;
            padding-left: 10px;
            border-radius: 4px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 40px;
            font-weight: 400;
            color: white;
            background-color: #bb8a36;
          }
        }
      }
    }
  }
  @media #{$bootstrap-sm} {
    .about .about-informations .tab-content .done-list {
      font-size: 10px;
    }
  }