  .about {
    background-color: #0a0f14;
    height: 676px;
    opacity: 0.9;
    .about-container {
      height: 676px;

      .about-img {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 70%;
        width: 40%;
      }
      .about-informations {
        float: right;
        padding-top: 99px;
        min-height: 510px;
        width: 60%;
        .about-header {
          width: 100%;
          .about-title {
            margin-top: 35px;
            text-align: left;
            margin-left: 55px;
            font-family: $global-montserrat-regular;
            font-size: 36px;
            line-height: 40px;
            font-weight: 400;
            color: white;
          }
          .h-line-1 {
            margin: auto 0 auto 200px;
            width: 76px;
            height: 1px;
            background-color: $color-aqua;
          }
          .h-line-2 {
            width: 76px;
            height: 1px;
            margin: 4px auto 0 220px;
            margin-right: 47%;
            background-color: $color-aqua;
          }
        }
        .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:focus,
        .nav-tabs>li.active>a:hover {
          background: none;
          border: none;
        }
        .nav-tabs>li>a,
        .nav-tabs>li>a:focus,
        .nav-tabs>li>a:hover
        .nav>li>a {
          padding: 0;
          background: none;
          border: none;
        }
        .about-tab {
          width: 100%;
          margin-left: 55px;
          height: 50px;
          margin-top: 25px;
          border: none;
          .li-about {
            display: inline-block;
            float: none;
            margin-right: 18px;
            font-family: $global-montserrat-regular;
            text-transform: uppercase;
            font-size: 16px;
            line-height: 42px;
            font-weight: 700;
             &:last-child {
                margin-right: 0;
             }
          }
          .li-about:hover,
          .li-about:focus,
          .li-about:active {
            text-align: center;
            margin-top: -2px;
            border-top: 2px solid $color-aqua;
            background: none;
          }
          .a-about {
            text-align: center;
            line-height: 50px;
            color: whitesmoke;
          }
          .a-about:hover,
          .a-about:active {
            color: $color-aqua;
          }
          .a-about:focus {
            outline: 0;
          }
        }
        .tab-content {
          width: 100%;
          .fade {
            transition: none;
            -webkit-transition: none;
          }
          .fix-row {
            margin: 0;
            margin-left: 55px;
          }
          // Content history
          .p-content {
            width: 85%;
            max-width: 520px;
            margin: 0 auto 25px 55px;
            text-align: justify;
            font-family: $global-montserrat-regular;
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
            color: #bebebe;
          }
          .history {
            width: 100%;
            height: auto;
            .history-info {
              width: 25%;
              min-width: 250px;
              display: inline-block;
            }
            .done-icon {
              float: left;
              padding-left: 5px;
              margin-top: 5px;
              margin-right: 10px;
            }
            .done-list {
              width: 100%;
              font-family: $global-montserrat-regular;
              font-size: 14px;
              line-height: 38px;
              font-weight: 300;
              color: #bebebe;
            }
          }
          // Content biography
          .biography {
            width: 85%;
            max-width: 520px;
            margin: 0 auto 25px 55px;
            text-align: justify;
            font-family: $global-montserrat-regular;
            font-size: 14px;
            line-height: 25px;
            font-weight: 300;
            color: #bebebe;
          }
          // Content skill
          #skill {
            width: 100%;
            max-width: 640px;
            margin-left: 20px;
            margin-top: 25px;
            margin-right: 20px;
            .block-skill {
              height: 39px;
              margin-left: 38px;
              margin-right: 80px;
              margin-bottom: 14px;
              border: 1px solid #959595;
              border-radius: 4px;
              background-color: #0a0f14;
            }
            .user-interface {
              width: 70%;
              height: 39px;
              margin-top: -1px;
              margin-left: -1px;
              padding-left: 10px;
              border-radius: 4px;
              font-family: $global-montserrat-regular;
              text-transform: uppercase;
              font-size: 13px;
              line-height: 40px;
              font-weight: 400;
              color: white;
              background-color: #9c5da5;
            }
            .web-design {
              width: 85%;
              height: 39px;
              margin-top: -1px;
              margin-left: -1px;
              padding-left: 10px;
              border-radius: 4px;
              font-family: $global-montserrat-regular;
              text-transform: uppercase;
              font-size: 13px;
              line-height: 40px;
              font-weight: 400;
              color: white;
              background-color: #11b0de;
            }
            .wordpress {
              width: 60%;
              height: 39px;
              margin-top: -1px;
              margin-left: -1px;
              padding-left: 10px;
              border-radius: 4px;
              font-family: $global-montserrat-regular;
              text-transform: uppercase;
              font-size: 13px;
              line-height: 40px;
              font-weight: 400;
              color: white;
              background-color: #d67f7f;
            }
            .html-css {
              width: 90%;
              height: 39px;
              margin-top: -1px;
              margin-left: -1px;
              padding-left: 10px;
              border-radius: 4px;
              font-family: $global-montserrat-regular;
              text-transform: uppercase;
              font-size: 13px;
              line-height: 40px;
              font-weight: 400;
              color: white;
              background-color: #20bc9d;
            }
            .app-design {
              width: 85%;
              height: 39px;
              margin-top: -1px;
              margin-left: -1px;
              padding-left: 10px;
              border-radius: 4px;
              font-family: $global-montserrat-regular;
              text-transform: uppercase;
              font-size: 13px;
              line-height: 40px;
              font-weight: 400;
              color: white;
              background-color: #bb8a36;
            }
          }
        }
      }
    }
  }
  @media #{$bootstrap-sm} {
    .about .about-informations .tab-content .done-list {
      float: left;
      font-size: 12px;
    }
  }
  @media #{$bootstrap-xs} {
    .about .about-informations .tab-content .fix-row {
      margin-left: 25px;
    }
    .about .about-informations {
      width: 100%;
    }
    .about .about-informations .about-title {
      margin-top: 15px;
      font-size: 16px;
    }
    .about .about-informations .tab-content .done-list {
      text-align: left;
      font-size: 10px;
      padding-top: 5px;
      line-height: 16px;
    }
    .about .about-informations .about-tab {
      width: 100%;
      text-align: center;
      height: 50px;
      margin-top: 20px;
      border: none;
    }
    .about .about-informations .about-tab .li-about {
      display: inline-block;
      float: none;
      margin-right: 10px;
      font-family: $global-montserrat-regular;
      text-transform: uppercase;
      font-size: 10px;
      line-height: 39px;
      font-weight: 700;
    }
    .about .about-informations .tab-content .p-content {
      width: 90%;
      margin: 0 auto 15px;
      text-align: justify;
      font-family: $global-montserrat-regular;
      font-size: 10px;
      line-height: 25px;
      font-weight: 300;
      color: #bebebe;
    }


    .about .about-informations .tab-content .biography {
      width: 90%;
      margin: 10px auto 0;
      text-align: justify;
      line-height: 18px;
      font-size: 10px;
    }
    .about .about-informations .tab-content .done-icon {
      margin-top: 0;
      margin-right: 10px;
    }
  }