.copyright {
  background-color: #22353f;
  .copyright-title {
    font-family: $global-montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    color: #aeaeae;
  }
  .copyright-span {
    color: $color-aqua;
  }
}
@media #{$bootstrap-xs} {
  .copyright .copyright-title {
    font-size: 12px;
  }
}