  .features {
    padding: 100px 0;
    background-color: white;
    .hover-block {
      &:hover .feature-pretitle {
      color: $color-aqua;
      }
    }
    .feature-title {
      margin: 10px 0 20px;
      text-align: center;
      color: #4e4e4e;
      font-family: $global-montserrat-regular;
      font-size: 36px;
      font-weight: 400;
    }
    .h-line-1 {
      margin: 36px auto 0;
      width: 76px;
      height: 1px;
      background-color: $color-aqua;
    }
    .h-line-2 {
      width: 76px;
      height: 1px;
      margin: 3px 51% 50px 49%;
      background-color: $color-aqua;
    }
    .hover-block:hover {
      .features .feature-pretitle {
        color: $color-aqua;
      }
    }
    .feature-info {
      width: 75%;
      margin: 0 auto 50px;
      color: #777;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
    }
    .feature-pretitle {
      display: inline-block;
      margin-left: 10px;
      color: #717171;
      font-family: $global-montserrat-regular;
      font-size: 16px;
      font-weight: 700;
    }
  }
  @media #{$bootstrap-xs} {
    .features {
      padding-top: 50px;
      .hover-block {
        padding: 5px;
      }
      .feature-title {
        font-size: 20px;
      }
      .h-line-1 {
        margin-top: 15px;
      }
      .h-line-2 {
        margin-bottom: 20px;
      }
      .feature-img {
        width: 50px;
        height: 50px;
        margin: 10px auto 0;
        display: block;
      }
      .feature-pretitle {
        margin: 10px 2px;
        text-align: center;
        display: block;
        font-size: 18px;
        line-height: 20px;
      }
      .feature-info {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        line-height: 30px;
        font-size: 16px;
      }
    }
  }