.footer {
  height: 757px;
  background-color: #1c2b33;
  .logo {
    float: left;
    font-family: $global-montserrat-regular;
    font-size: 40px;
    width: 19%;
    margin-left: 3%;
    line-height: 50px;
    margin-top: 100px;
    .logo-1-part {
      color: white;
      font-weight: 400;
    }
    .logo-2-part {
      color: $color-aqua;;
      font-weight: 700;
    }
    .footer-info {
      margin-top: 40px;
      color: #b2b2b2;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
    }
    .footer-info-1 {
      margin-top: 50px;
      font-size: 14px;
      font-weight: 300;
      color: silver;
      font-family: $global-montserrat-regular;
      line-height: 26px;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .footer-info-2 {
      margin-top: 30px;
      color: #c1c1c1;
      font-family: $global-montserrat-regular;
      line-height: 26px;
      font-size: 14px;
      font-weight: 300;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .recent-post {
    width: 33%;
    float: left;
    margin-top: 85px;
    margin-left: 2%;
    .title-recent {
      color: white;
      margin-bottom: 63px;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
    .standart-post {
      width: 100%;
      border-bottom: 1px solid #294453;
      margin-bottom: 37px;
      &:last-child {
        border-bottom: none;
      }
    }
    .footer-img-post {
      float: left;
      width: 77px;
      height: 66px;
    }
    .standart-title {
      margin: 0;
      margin-left: 20%;
      padding-left: 24px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 16px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
    .standart-info {
      margin-left: 20%;
      padding-left: 24px;
      padding-top: 8px;
      color: #b2b2b2;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
    }
    .date-post {
      color: #f1f1f1;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      padding: 0;
      padding-left: 24px;
      margin-left: 20%;
    }
  }
  .tags-post {
    width: 20%;
    float: left;
    margin-top: 85px;
    margin-left: 2%;
    .title-tags {
      margin-bottom: 50px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
    .tags-table {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #294453;
      border-spacing: 10px;
      border-collapse: separate;
      .td-table {
        color: white;
        border: 1px solid #d7d7d7;
        text-align: center;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 300;
        line-height: 36px;
        &:hover {
          background-color: $color-aqua;
        }
      }
    }
    .newsletter-title {
      margin-bottom: 30px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
    }
    .newsletter-info {
      color: #b4b4b4;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
    }
    .input-field {
      position: relative;
      .enter-mail {
        width: 100%;
        height: 42px;
        float: left;
        background-color: #22353f;
        border: none;
        outline: 0;
      }
      .enter-mail[placeholder] {
        padding-left: 10px;
        color: #757575;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
      }
      .submit-mail {
        width: 15%;
        height: 42px;
        position: absolute;
        right: 0;
        background-color: #294453;
        border: none;
        color: $color-aqua;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        outline: 0;
      }
    }
  }
  .flicke-feed {
    width: 19%;
    float: left;
    margin-top: 85px;
    margin-left: 2%;
    .title-flicke {
      margin-bottom: 50px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
    .img-group {
      width: 100%;
      display: inline-block;
      .img-flicke {
        width: 74px;
        height: 74px;
        margin: 7px;
      }
    }
  }
}
@media #{$bootstrap-sm} {
  .footer {
    height: 600px;
  }
  .footer .logo {
    font-size: 20px;
    margin-top: 50px;
  }
  .footer .logo .footer-info {
    font-size: 10px;
    margin-top: 50px;
    line-height: 20px;
  }
  .footer .recent-post {
    margin-top: 45px;
  }
  .footer .recent-post .title-recent {
    font-size: 14px;
    margin-bottom: 64px;
  }
  .footer .logo .footer-info-1 {
    line-height: 20px;
    font-size: 10px;
  }
  .footer .logo .footer-info-2 {
    line-height: 20px;
    font-size: 10px;
  }
  .footer .recent-post .standart-title {
    margin: 0 0 0 20%;
    padding-left: 34px;
    font-size: 10px;
    line-height: 15px;
  }
  .footer .recent-post .standart-info {
    padding-left: 34px;
    line-height: 15px;
    font-size: 10px
  }
  .footer .recent-post .date-post {
    padding: 0 0 0 34px;
    font-size: 10px;
  }
  .footer .tags-post {
    margin-top: 44px;
  }
  .footer .tags-post .title-tags {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .footer .tags-post .tags-table .td-table {
    font-size: 11px;
  }
  .footer .tags-post .newsletter-title {
    margin-bottom: 6px;
    font-size: 14px;
  }
  .footer .tags-post .newsletter-info {
    font-size: 12px;
    line-height: 20px;
  }
  .footer .tags-post .input-field .submit-mail {
    width: 25%;
  }
  .footer .flicke-feed {
    margin-top: 44px;
  }
  .footer .flicke-feed .title-flicke {
    margin-bottom: 56px;
    font-size: 14px;
    line-height: 20px;
  }
  .footer .flicke-feed .img-group .img-flicke {
    width: 50px;
    height: 50px;
  }
}
@media #{$bootstrap-xs} {
  .footer {
    height: auto;
  }
  .footer .logo {
    margin-top: 20px;
    line-height: 30px;
    font-size: 20px;
  }
  .footer .logo .footer-info {
    margin-top: 15px;
    line-height: 20px;
    font-size: 10px;
  }
  .footer .logo .footer-info-1 {
    margin-top: 20px;
    font-size: 10px;
    line-height: 16px;
  }
  .footer .logo .footer-info-1 span {
    font-size: 12px;
  }
  .footer .logo .footer-info-2 {
    font-size: 10px;
    margin-top: 10px;
    line-height: 16px;
  }
  .footer .logo .footer-info-2 span {
    font-size: 12px;
  }
  .footer .recent-post {
    margin-top: 20px;
  }
  .footer .recent-post .title-recent {
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 10px;
    line-height: 26px;
  }
  .footer .recent-post .footer-img-post {
    width: 40px;
    height: 40px;
  }
  .footer .recent-post .standart-title {
    padding-left: 10px;
    font-size: 9px;
    line-height: 14px;
  }
  .footer .recent-post .standart-info {
    padding-left: 10px;
    line-height: 16px;
    font-size: 7px;
  }
  .footer .recent-post .date-post {
    line-height: 5px;
    padding: 0 0 0 24px;
    font-size: 7px;
  }
  .footer .tags-post {
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .footer .tags-post .title-tags {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 11px;
    line-height: 26px;
  }
  .footer .tags-post .tags-table {
    border-spacing: 0;
  }
  .footer .tags-post .tags-table .td-table {
    font-size: 10px;
    line-height: 31px;
  }
  .footer .tags-post .newsletter-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    line-height: 24px;
  }
  .footer .tags-post .newsletter-info {
    font-size: 10px;
    line-height: 20px;
  }
  .footer .tags-post .input-field .enter-mail[placeholder] {
    font-size: 10px;
  }
  .footer .tags-post .input-field .enter-mail {
    height: 35px;
  }
  .footer .tags-post .input-field .submit-mail {
    height: 35px;
    width: 31%;
  }
  .footer .flicke-feed {
    margin-top: 20px;
  }
  .footer .flicke-feed .title-flicke {
    margin-bottom: 20px;
    margin-top: 13px;
    font-size: 10px;
    line-height: 20px;
  }
  .footer .flicke-feed .img-group .img-flicke {
    width: 35px;
    height: 35px;
    margin: 4px;
  }
}
@media #{$bootstrap-iphone5-portrait} {
 .hidden-portreit {
   display: none;
 }
  .footer .logo {
    width: 30%;
    margin-left: 1%;
    text-align: justify;
  }
  .footer .logo .footer-info {
    line-height: 15px;
  }
  .footer .flicke-feed, .footer .tags-post {
    width: 35%;
    margin-left: 3%;
    text-align: center;
  }
  .footer .flicke-feed {
    text-align: center;
    width: 28%;
  }
  .footer .flicke-feed .img-group .img-flicke {
    width: 30px;
    height: 30px;
  }

}