.footer {
  padding: 100px 0;
  background-color: #1c2b33;
  .logo {
    float: left;
    font-family: $global-montserrat-regular;
    font-size: 40px;
    line-height: 50px;
    .logo-1-part {
      color: white;
      font-weight: 400;
    }
    .logo-2-part {
      color: $color-aqua;;
      font-weight: 700;
    }
    .footer-info {
      margin-top: 40px;
      color: #b2b2b2;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
    }
    .footer-info-1 {
      margin-top: 50px;
      font-size: 14px;
      font-weight: 300;
      color: silver;
      font-family: $global-montserrat-regular;
      line-height: 26px;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .footer-info-2 {
      margin-top: 30px;
      color: #c1c1c1;
      font-family: $global-montserrat-regular;
      line-height: 26px;
      font-size: 14px;
      font-weight: 300;
      span {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .recent-post {
    float: left;
    .title-recent {
      color: white;
      margin-bottom: 63px;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
    .standart-post {
      width: 100%;
      border-bottom: 1px solid #294453;
      margin-bottom: 37px;
      &:last-child {
        border-bottom: none;
      }
    }
    .footer-img-post {
      float: left;
      width: 77px;
      height: 66px;
    }
    .standart-title {
      float: left;
      margin: 0;
      padding-left: 15px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 16px;
      font-weight: 700;
      line-height: 14px;
      text-transform: uppercase;
    }
    .standart-info {
      width: 60%;
      float: left;
      padding-left: 15px;
      padding-top: 8px;
      color: #b2b2b2;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 25px;
    }
    .date-post {
      color: #f1f1f1;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 30px;
      clear: both;
      padding-left: 93px;
    }
  }
  .tags-post {
    float: left;
    .title-tags {
      margin-bottom: 50px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase;
    }
    .tags-table {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid #294453;
      border-spacing: 10px;
      border-collapse: separate;
      .td-table {
        color: white;
        border: 1px solid #d7d7d7;
        text-align: center;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 300;
        line-height: 36px;
        cursor: pointer;
        &:hover {
          background-color: $color-aqua;
        }
      }
    }
    .newsletter-title {
      margin-bottom: 30px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 40px;
    }
    .newsletter-info {
      color: #b4b4b4;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 26px;
    }
    .input-field {
      position: relative;
      .enter-mail {
        width: 100%;
        height: 42px;
        float: left;
        background-color: #22353f;
        border: none;
        outline: 0;
      }
      .enter-mail[placeholder] {
        padding-left: 10px;
        color: #757575;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 300;
        line-height: 26px;
      }
      .submit-mail {
        width: 30%;
        height: 42px;
        position: absolute;
        right: 0;
        background-color: #294453;
        border: none;
        color: $color-aqua;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 700;
        line-height: 26px;
        outline: 0;
        cursor: pointer;
        &:active {
          opacity: 0.7;
        }
      }
    }
  }
  .flicke-feed {
    float: left;
    .title-flicke {
      margin-bottom: 58px;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
    }
    .img-group {
      width: 100%;
      display: inline-block;
      .img-flicke {
        width: 65px;
        height: 66px;
        margin: 7px;
      }
    }
  }
}
@media #{$bootstrap-md} {
  .footer .flicke-feed,
  .footer .tags-post {
    padding-top: 50px;
  }
}
@media #{$bootstrap-sm} {
    .footer {
      height: auto;
      .logo {
        text-align: center;
        margin-top: 50px;
        width: 45%;
        margin-left: 2%;
        .footer-info {
          text-align: justify;
          font-size: 16px;
          margin-top: 25px;
        }
        .footer-info-1 {
          line-height: 30px;
          margin-top: 30px;
          font-size: 16px;
          text-align: left;
        }
        .footer-info-2 {
          line-height: 30px;
          margin-top: 30px;
          font-size: 16px;
          text-align: left;
        }
      }
      .recent-post {
        margin-top: 50px;
        width: 50%;
        float: left;
        margin-left: 2%;
        .title-recent {
          margin-bottom: 40px;
          text-align: center;
        }
        .footer-img-post {
          float: left;
          display: block;
          width: 100px;
          height: 100px;
        }
        .standart-title {
          margin: 0;
          padding: 0;
          padding-left: 15px;
          float: left;
          line-height: 18px;
        }
        .standart-info {
          margin: 0;
          padding: 0 0 15px 15px;
          width: 71%;
          float: left;
        }
        .date-post {
          padding: 0 0 0 115px;
        }
      }
      .tags-post {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 50%;
        .title-tags {
          margin-bottom: 30px;
          text-align: center;
        }
        .tags-table {
          padding-bottom: 30px;
          .td-table {
            line-height: 45px;
          }
        }
        .newsletter-title {
          text-align: center;
          margin: 20px auto 15px;
        }
        .newsletter-info {
          text-align: center;
        }
        .input-field .submit-mail {
          width: 25%;
        }
      }
      .flicke-feed {
        margin-top: 10px;
        text-align: center;
        width: 40%;
        .title-flicke {
          margin: 20px auto 40px;
          text-align: center;
        }
        .img-group {
          margin: 0 auto;
          .img-flicke {
            width: 100px;
            height: 100px;
          }
        }
      }
    }
}

@media #{$bootstrap-xs} {
  .footer {
    height: auto;
    padding-top: 25px;

     .logo {
      margin: 0 auto;
      text-align: center;
      width: 100%;
    }
     .logo .footer-info {
      margin: 0 auto;
      width: 80%;
    }
     .logo .footer-info-1 {
      margin-top: 20px;
    }
     .logo .footer-info-2 {
      margin-top: 10px;
    }
     .recent-post {
         margin: 0 auto;
         text-align: center;
         width: 100%;
          .title-recent {
            margin-bottom: 30px;
          }
          .standart-post {
            width: auto;
            &:last-child {
              border-bottom: 1px solid #294453;
              margin-bottom: 20px;
            }
          }
         .footer-img-post {
           margin: 0 auto;
           display: block;
           float: none;
           width: 100px;
           height: 100px;
         }
         .standart-title {
           line-height: 20px;
           float: none;
           margin: 20px auto;
           padding: 0;
         }
        .standart-info {
          width: 75%;
          float: none;
          margin: 0 auto;
          padding: 0;
          line-height: 26px;
          font-size: 14px;
        }
        .date-post {
          margin: 20px auto;
          padding: 0;
          line-height: 40px;
        }
     }
     .tags-post {
         margin: 0;
         width: 100%;
        .title-tags {
          margin: 0 auto 15px;
          text-align: center;
          line-height: 26px;
        }
        .tags-table {
           border-spacing: 0;
           margin: 0 auto;
           width: 90%;
           padding-bottom: 30px;
            .td-table {
              line-height: 40px;
            }
        }
        .newsletter-title {
           margin: 20px auto 10px;
           text-align: center;
           line-height: 24px;
        }
        .newsletter-info {
            width: 90%;
            text-align: center;
            margin: 0 auto;
        }
       .input-field {
           height: 33px;
           width: 75%;
         max-width: 500px;
           margin: 10px auto;
           .enter-mail {
             height: 35px;
           }
           .enter-mail[placeholder] {
             font-size: 12px;
           }
           .submit-mail {
             height: 35px;
             width: 31%;
           }
       }
     }
     .flicke-feed {
       margin: 20px auto 20px;
       text-align: center;
       width: 100%;
        .title-flicke {
           margin-bottom: 20px;
           margin-top: 13px;
           line-height: 20px;
        }
       .img-group {
           width: 100%;
           .img-flicke {
             width: 65px;
             height: 65px;
             margin: 4px;
           }
       }
     }
  }
}
@media #{$bootstrap-min-height-xs} {
 .footer {
   .logo {
     .footer-info-1 {
       margin-top: 10px;
       float: left;
       width: 55%;
     }
     .footer-info-2 {
       margin-top: 10px;
       float: right;
       width: 45%;
     }
   }
 }
}