 .four-options {
   .option-1 {
     height: 370px;
     border-top: 4px solid $color-aqua;
     background: #1c2a33 url('../img/option-img-1.png') center 35% no-repeat;
   }
   .option-2 {
     height: 370px;
     border-top: 4px solid white;
     background: $color-aqua url('../img/option-img-2.png') center 35% no-repeat;
     .option-title {
       color: white;
     }
   }
   .option-3 {
     height: 370px;
     border-top: 4px solid $color-aqua;
     background: #1c2a33 url('../img/option-img-3.png') center 35% no-repeat;
   }
   .option-4 {
     height: 370px;
     border-top: 4px solid white;
     background: $color-aqua url('../img/option-img-4.png') center 35% no-repeat;
     .option-title {
       color: white;
     }
   }
   .option-title {
     margin: 230px 5px 0 5px;
     text-align: center;
     font-family: $global-montserrat-regular;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: 700;
     color: $color-aqua;
   }
 }
 @media #{$bootstrap-sm} {
   .four-options .option-1,
   .four-options .option-2,
   .four-options .option-3,
   .four-options .option-4 {
     height: 250px;
   }
   .four-options .option-2 {
     float: left;
   }
   .four-options .option-3 {
     float: right;
   }
   .four-options .option-title {
     margin-top: 170px;
   }
 }

