.fun-fact {
  width: 100%;
  margin-top: 100px;
  .fact-1 {
    float: left;
    width: 25%;
    height: 374px;
    position: relative;
    border-top: 4px solid $color-aqua;
    background: #1c2a33 url('../img/img-fact-1.png') center 42% no-repeat;
    .fact-title-1 {
      position: absolute;
      bottom: 23%;
      left: 0;
      right: 0;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    .fact-info-1 {
      position: absolute;
      bottom: 13%;
      left: 0;
      right: 0;
      color: #18cfab;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 300;
      line-height: 14px;
    }
  }

  .fact-2 {
    float: left;
    height: 374px;
    position: relative;
    border-top: 4px solid #25333c;
    width: 25%;
    background: $color-aqua url('../img/img-fact-2.png') center 42% no-repeat;
    .fact-title-2 {
      position: absolute;
      bottom: 23%;
      left: 0;
      right: 0;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    .fact-info-2 {
      position: absolute;
      bottom: 13%;
      left: 0;
      right: 0;
      color: #25333c;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 300;
      line-height: 14px;
    }
  }
  .fact-3 {
    float: left;
    height: 374px;
    position: relative;
    border-top: 4px solid $color-aqua;
    width: 25%;
    background: #1c2a33 url('../img/img-fact-3.png') center 42% no-repeat;
    .fact-title-3 {
      position: absolute;
      bottom: 23%;
      left: 0;
      right: 0;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    .fact-info-3 {
      position: absolute;
      bottom: 13%;
      left: 0;
      right: 0;
      color: $color-aqua;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 300;
      line-height: 14px;
    }
  }
  .fact-4 {
    float: left;
    height: 374px;
    position: relative;
    border-top: 4px solid #25333c;
    width: 25%;
    background: #1c2a33 url('../img/img-fact-4.png') center 42% no-repeat;
    .fact-title-4 {
      position: absolute;
      bottom: 23%;
      left: 0;
      right: 0;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    .fact-info-4 {
      position: absolute;
      bottom: 13%;
      left: 0;
      right: 0;
      color: #25333c;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 300;
      line-height: 14px;
    }
  }
}
  @media #{$bootstrap-xs} {
    .fun-fact {
      margin-top: 20px;
       .fact-1,
       .fact-2,
       .fact-3,
       .fact-4{
         height: auto;
         min-height: 130px;
         background-size: cover;
       }
       .fact-1 .fact-title-1,
       .fact-2 .fact-title-2,
       .fact-3 .fact-title-3,
       .fact-4 .fact-title-4{
         font-size: 18px;
         line-height: 20px;
       }
       .fact-1 .fact-info-1,
       .fact-2 .fact-info-2,
       .fact-3 .fact-info-3,
       .fact-4 .fact-info-4{
         font-size: 12px;
         line-height: 12px;
       }
    }
  }