  .fun-fact {
    padding-top: 100px;
    .fact-1 {
      height: 374px;
      border-top: 4px solid $color-aqua;
      background: #1c2a33 url('../img/img-fact-1.png') center 42% no-repeat;
    }
    .fact-2 {
      height: 374px;
      border-top: 4px solid #25333c;
      background: $color-aqua url('../img/img-fact-2.png') center 42% no-repeat;
      .fact-info {
        color: #25333c;
      }
    }
    .fact-3 {
      height: 374px;
      border-top: 4px solid $color-aqua;
      background: #1c2a33 url('../img/img-fact-3.png') center 42% no-repeat;
    }
    .fact-4 {
      height: 374px;
      border-top: 4px solid #25333c;
      background: $color-aqua url('../img/img-fact-4.png') center 42% no-repeat;
      .fact-info {
        color: #25333c;
      }
    }
    .fact-title {
      position: absolute;
      bottom: 23%;
      left: 0;
      right: 0;
      color: white;
      font-family: $global-montserrat-regular;
      font-size: 30px;
      font-weight: 400;
      line-height: 20px;
      text-transform: uppercase;
    }
    .fact-info {
      position: absolute;
      bottom: 13%;
      left: 0;
      right: 0;
      color: #18cfab;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 300;
      line-height: 14px;
    }
  }
  @media #{$bootstrap-sm} {
    .fun-fact .fact-3 {
      float: right;
    }
    .fun-fact .fact-4 {
      float: left;
    }
    .fun-fact .fact-1, .fun-fact .fact-2,
    .fun-fact .fact-3, .fun-fact .fact-4{
      .fact-title {
        bottom: 20%;
      }
    }
    .fun-fact .fact-1, .fun-fact .fact-2,
    .fun-fact .fact-3, .fun-fact .fact-4 {
      .fact-info {
        bottom: 11%;
      }
    }
  }
  @media #{$bootstrap-xs} {
    .fun-fact {
      padding-top: 50px;
       .fact-1, .fact-2,
       .fact-3, .fact-4 {
         background-size: cover;
         .fact-title {
           bottom: 15%;
           line-height: 20px;
         }
         .fact-info {
           line-height: 12px;
           bottom: 8%;
         }
       }
    }
  }