.home {
  background-color: #3b3b3b;
  margin-top: 75px;
    .home-title {
      width: 100%;
      padding-top: 3%;
      font-family: $global-montserrat-regular;
      text-transform: uppercase;
      .pre-title {
        font-size: 20px;
        font-weight: 700;
        line-height: 25px;
        color: white;
        .color-aqua {
          color: $color-aqua;
          font-size: 20px;
          font-weight: 700;
        }
      }
      .home-main-title {
        font-size: 42px;
        font-weight: 700;
        line-height: 50px;
        text-transform: uppercase;
        color: white;
      }
      .last-title {
        font-size: 14px;
        font-weight: 300;
        line-height: 25px;
        color: #d4d4d4;
      }
    }
    .button-panel {
      height: 200px;
      margin-top: 5%;
      position: relative;
      .white-border {
        -webkit-box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
        -moz-box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
        box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
      }
      .left-button {
        width: 150px;
        height: 45px;
        margin-right: 30px;
        background-color: $color-aqua;
        border-radius: 4px;
        color: white;
        font-family: $global-montserrat-regular;
        font-size: 13px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
      }
      .right-button {
        width: 150px;
        height: 45px;
        background-color: #00cbf6;
        border-radius: 4px;
        color: white;
        font-family: $global-montserrat-regular;
        font-size: 13px;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
      }
    }
    .rslides {
      width: 110px;
      position: absolute;
      top: 0;
      right: 4%;
    }
    .Previous {
      margin-top: 5px;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      color: white;
      background: #3c4140 url('../img/preview-arrow.png') center center no-repeat;
      &:hover {
        background-color: #18cfab;
      }
    }
    .Next {
      margin-top: 5px;
      width: 50px;
      height: 50px;
      color: white;
      background: #3c4140 url('../img/next-arrow.png') center center no-repeat;
      &:hover {
        background-color: #18cfab;
      }
    }
  }
@media #{$bootstrap-xs} {
  .home {
    margin-top: 50px;
  }
  .home .home-title .pre-title {
    font-size: 16px;
    line-height: 20px;
  }
  .home .home-title .pre-title .color-aqua {
    font-size: 16px;
  }
  .home .home-title .home-main-title {
    font-size: 26px;
    line-height: 32px;
  }
  .home .home-title .last-title {
    font-size: 10px;
    line-height: 30px;
  }
  .home .button-panel {
    height: 185px;
  }
  .home .button-panel .left-button {
    margin-right: 5px;
    width: 130px;
    font-size: 12px;
  }
  .home .button-panel .right-button {
    width: 130px;
    font-size: 12px;
  }
  .home .rslides {
    width: 90px;
    left: 0;
    top: 30%;
    margin: 0 auto;
    right: 0;
  }
  .home .Previous {
    margin-top: 5px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  .home .Next {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
}
@media #{$bootstrap-iphone5-xs} {
  .home .rslides {
    top: -25%;
    margin-right: 3%;
  }
}