.navbar-fixed-top {
  -webkit-transform: translate3d(0, 0, 0);
}
.nav-ham {
  height: 122px;
  margin-bottom: 0;
  background: transparent;
  border: none;
  //background-color: #42423c;
   .background-nav {
     opacity: 0.8;
     background-color: #42423c;;
   }
    .header {
      height: 122px;
      padding-top: 32px;
      position: relative;
      .logo {
        float: left;
        margin-left: 3%;
        padding-top: 0;
        display: inline-block;
        font-family: $global-montserrat-bold;
        font-size: 32px;
        a:hover {
            text-decoration: none;
        }
        .logo-1-part {
          color: white;
          font-weight: 400;
        }
        .logo-2-part {
          color: $color-aqua;;
          font-weight: 700;
        }
      }
      .menu-list {
        margin-bottom: 0;
        padding-left: 0;
        text-align: center;
        font-family: $global-montserrat-regular;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        list-style: none;
        .list-items {
          padding-top: 10px;
          margin-left: 20px;
          margin-bottom: 49px;
          vertical-align: baseline;
          display: inline-block;
          &:hover {
            padding-bottom: 49px;
            margin-bottom: 0;
            border-bottom: 2px solid $color-aqua;
          }
          &:last-child {
            margin-bottom: 0;
            padding-bottom: 36px;
            border-bottom: none;
          }
        }
        .list-items>a {
          color: #b8b8b8;
          text-decoration: none;
          &:hover {
            color: $color-aqua;
          }
        }
        .search-button {
          padding: 10px;
          background-color: transparent;
          color: #bbb;
          border-color: transparent;
          &:hover {
            color: $color-aqua;
          }
          .icon-search {
            font-size: 22px;
          }
        }
      } // menu-list
    }  //header
    .search-form {
      width: 100%;
      text-align: center;
      height: 54px;
      margin: 0 auto 0 130px;
      padding: 0;
      position: relative;
      display: none;
      border: none;
      .search-input {
        width: 670px;
        z-index: 1;
        height: 54px;
        font-family: $global-montserrat-regular;
        font-size: 12px;
        font-weight: 400;
        background-color: white;
        color: #a5a5a5;
      }
      .search-button-input {
        width: 44px;
        height: 43px;
        z-index: 2;
        margin: 5px auto 0 -50px;
        position: absolute;
        background-color: $color-aqua;
        .active-search-icon {
          color: white;
        }
      }
    }
  }
@media #{$bootstrap-sm} {
  .nav-ham .header .menu-list {
    font-size: 11px;
  }
}
