  .nav-ham {
    background: transparent;
    border: none;
    .background-nav {
      opacity: 0.8;
      background-color: #42423c;;
    }
    header {
      transition: 2s ease;
    }
    .header-small {
      height: 80px;
      padding-top: 8px;
    }
    .header {
      height: 122px;
      padding-top: 32px;
    }
    .logo {
      float: left;
      font-family: $global-montserrat-bold;
      font-size: 32px;
      a:hover {
        text-decoration: none;
      }
      .logo-1-part {
        color: white;
        font-weight: 400;
      }
      .logo-2-part {
        color: $color-aqua;;
        font-weight: 700;
      }
    }
    .menu-list {
      height: 92px;
      margin-bottom: 0;
      padding-left: 0;
      text-align: center;
      font-family: $global-montserrat-regular;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      list-style: none;
      .list-items {
        padding-top: 10px;
        margin-left: 20px;
        display: inline-block;
      }
      .list-items>a {
        color: #b8b8b8;
        text-decoration: none;
        &:hover {
          color: $color-aqua;
          border-bottom: 2px solid $color-aqua;
          padding-bottom: 50px;
        }
      }
      .search-button {
        padding: 10px;
        border: none;
        outline: none;
        background-color: transparent;
        color: #bbb;
        border-color: transparent;
        &:hover {
          color: $color-aqua;
          border: none;
          outline: none;
        }
        .icon-search {
          font-size: 22px;
        }
      }
      .active-button {
        color: #ffffff;
        background-color: #18cfab;
        &:hover {
          color: #ffffff;
        }
      }
    }
    .search-form {
      margin: 0;
      padding: 0;
      position: relative;
      .search-input {
        width: 657px;
        height: 54px;
        margin-left: 350px;
        display: none;
        font-family: $global-montserrat-regular;
        font-size: 12px;
        font-weight: 400;
        background-color: white;
        color: #a5a5a5;
      }
      .active-input {
        display: block;
      }
      .search-button-input {
        width: 44px;
        height: 43px;
        position: absolute;
        top: 6px;
        left: 955px;
        display: none;
        background-color: $color-aqua;
        .active-search-icon {
          color: white;
          font-size: 22px;
        }
      }
      .active-button-input {
        display: block;
      }
    }
  }
  @media #{$bootstrap-sm} {
    .nav-ham {
      .menu-list {
        font-size: 11px;
        .list-items {
          margin-left: 10px;
        }
      }
      .search-form {
        .search-input {
          width: 500px;
          margin-left: 210px;
        }
        .search-button-input {
          left: 660px;
        }
      }
    }
  }
  @media #{$bootstrap-md} {
    .nav-ham .search-form .search-input {
      margin-left: 250px;
    }
    .nav-ham .search-form .search-button-input {
      left: 855px;
    }
  }

