.purchase-1 {
  margin-top: 100px;
  height: 924px;
  background: #233441 url(../img/notebook-img.png) no-repeat left bottom;
  background-size: 63% 78%;
  .purchase-title-1 {
    margin-top: 100px;
    font-family: $global-montserrat-regular;
    line-height: 65px;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: 700;
  }
  .purchase-title-2 {
    color: #18cfab;
    font-size: 47px;
    font-weight: 400;
    font-family: $global-montserrat-regular;
    line-height: 65px;
    text-transform: uppercase;
  }
  .notebook {
    float: left;
    width: 55%;
    margin: 30px 0 60px 5%;
  }
  .ul-purchase-1 {
    margin: 0 auto;
    margin-right: 0;
    margin-top: 50px;
    width: 42%;
    list-style: none;
    padding: 0;
    .li-purchase-1 {
      color: #f7f7f7;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 300;
      line-height: 35px;
    }
    .done-icon {
      padding-right: 20px;
    }
  }
  .purchase-1-button {
    margin-top: 70px;
    width: 165px;
    height: 60px;
    background-color: $color-aqua;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: $global-montserrat-regular;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
  }
  .white-border {
    -webkit-box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
    box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
  }
}
@media #{$bootstrap-md} {
  .purchase-1 {
    height: 665px;
    background-size: 65% 76%;
  }
  .purchase-1 .purchase-title-1 {
    font-size: 34px;
    margin-top: 76px;
    line-height: 28px;
  }
  .purchase-1 .purchase-title-2 {
    font-size: 32px;
    line-height: 28px;
  }
  .purchase-1 .ul-purchase-1 {
    margin-top: 30px;
  }
  .purchase-1 .ul-purchase-1 .li-purchase-1 {
    line-height: 32px;
  }
  .purchase-1 .purchase-1-button {
    height: 50px;
    margin-top: 30px;
  }
}
@media #{$bootstrap-lg} {
  .purchase-1 {
    height: 780px;
    background-size: 63% 78%;
  }
  .purchase-1 .purchase-title-1 {
    font-size: 40px;
    line-height: 43px;

  }
  .purchase-1 .purchase-title-2 {
    font-size: 40px;
  }
  .purchase-1 .ul-purchase-1 {
    margin-top: 30px;
  }
  .purchase-1 .purchase-1-button {
    margin-top: 35px;
  }
}

@media #{$bootstrap-sm} {
  .purchase-1 {
    height: 670px;
    background-size: 63% 84%;
  }
  .purchase-1 .purchase-title-1 {
    margin-top: 50px;
    font-size: 24px;
    line-height: 20px;
  }
  .purchase-1 .purchase-title-2 {
    font-size: 22px;
    line-height: 30px;
  }
  .purchase-1 .notebook {
    margin: 72px 0 20px 5%;
  }
  .purchase-1 .ul-purchase-1 {
    margin-top: 0;
  }
  .purchase-1 .purchase-1-button {
    margin-top: 24px;
  }
}
@media #{$bootstrap-xs} {
  .purchase-1 {
    margin-top: 20px;
  }
  .purchase-1 .purchase-title-1 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 14px;
  }
  .purchase-1 .purchase-title-2 {
    font-size: 18px;
    line-height: 15px;
  }
  .purchase-1 .notebook {
    width: 44%;
    margin: 30px 0 45px 1%;
  }
  .purchase-1 .ul-purchase-1 {
    margin-top: 0;
    width: 40%;
    padding: 0;
  }
  .purchase-1 .ul-purchase-1 .li-purchase-1 {
    line-height: 24px;
    font-size: 12px;
  }
  .purchase-1 .purchase-1-button {
    margin-top: 15px;
    width: 130px;
    height: 40px;
    line-height: 32px;
    font-size: 10px;
  }
}
@media #{$bootstrap-iphone5-portrait} {
  .purchase-1 .purchase-title-1 {
    font-size: 12px;
    line-height: 14px;
  }
  .purchase-1 .purchase-title-2 {
    font-size: 11px;
    line-height: 10px;
  }
  .purchase-1 .ul-purchase-1 {
    margin-top: 0;
    width: 50%;
    padding: 0;
    margin-left: 10px;
  }
  .purchase-1 .ul-purchase-1 .li-purchase-1 {
    line-height: 24px;
    font-size: 7px;
  }
}