.purchase-1 {
  padding: 100px 0;
  background: #233441 url(../img/notebook-img.png) no-repeat left bottom;
  background-size: 50% 73%;
  .purchase-title-1 {
    font-family: $global-montserrat-regular;
    line-height: 65px;
    margin: 0;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: 700;
  }
  .purchase-title-2 {
    color: #18cfab;
    font-size: 47px;
    font-weight: 400;
    font-family: $global-montserrat-regular;
    line-height: 65px;
    text-transform: uppercase;
  }
  .ul-purchase-1 {
    margin: 0 auto;
    margin-right: 0;
    padding-top: 10px;
    margin-top: 50px;
    width: 42%;
    list-style: none;
    input[type="checkbox"] {
      display:none;
    }
    input[type="checkbox"] + label span {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: -10px 4px 0 0;
      vertical-align: middle;
      background: url(../img/icons/checkbox.png) -33px 0 no-repeat;
      cursor: pointer;
    }
    input[type="checkbox"]:checked + label span {
      background:url(../img/icons/checkbox.png) no-repeat;
    }
    .li-purchase-1 {
      color: #f7f7f7;
      width: 90%;
      font-family: $global-montserrat-regular;
      font-size: 18px;
      font-weight: 300;
      line-height: 35px;
    }
    .done-icon {
      padding-right: 20px;
      width: 10%;
      float: left;
    }
  }
  .purchase-1-button {
    margin-top: 70px;
    width: 165px;
    height: 60px;
    margin-left: 42px;
    background-color: $color-aqua;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: $global-montserrat-regular;
    font-size: 13px;
    font-weight: 700;
    line-height: 32px;
    text-transform: uppercase;
    &:active {
      opacity: 0.7;
    }
  }
  .white-border {
    -webkit-box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
    box-shadow: 0px -5px 2px 0px rgba(255,255,255,1);
  }
}
@media #{$bootstrap-md} {
  .purchase-1 {
    background-size: 58% 76%;
    .purchase-title-1 {
      font-size: 34px;
      line-height: 28px;
    }
    .purchase-title-2 {
      font-size: 32px;
    }
    .ul-purchase-1 {
      margin-top: 30px;
      .li-purchase-1 {
        line-height: 32px;
      }
    }
    .purchase-1-button {
      height: 50px;
      margin-top: 30px;
    }
  }
}
@media #{$bootstrap-lg} {
  .purchase-1 {
    height: 780px;
    background-size: 58% 72%;
    .purchase-title-1 {
      font-size: 40px;
      line-height: 43px;
    }
    .purchase-title-2 {
      font-size: 40px;
    }
    .ul-purchase-1 {
      margin-top: 30px;
    }
    .purchase-1-button {
      margin-top: 35px;
    }
  }
}

@media #{$bootstrap-sm} {
  .purchase-1 {
    background-size: 63% 77%;
    .purchase-title-1 {
      font-size: 24px;
      line-height: 20px;
    }
    .purchase-title-2 {
      font-size: 22px;
      line-height: 30px;
    }
    .ul-purchase-1 {
      margin-top: 0;
    }
    .purchase-1-button {
      margin-top: 24px;
    }
  }
}
@media #{$bootstrap-xs} {
  .purchase-1 {
    padding: 30px 0;
    background: #233441;
    .purchase-title-1 {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 27px;
    }
    .purchase-title-2 {
      font-size: 13px;
      margin: 0;
      line-height: 26px;
    }
    .ul-purchase-1 {
      margin: 10px auto;
      text-align: center;
      width: 100%;
      padding: 0;
      .li-purchase-1 {
        line-height: 30px;
        font-size: 10px;
      }
      .done-icon {
        height: 10px;
        padding-right: 10px;
      }
    }
    .purchase-1-button {
      margin: 15px;
      width: 130px;
      height: 40px;
      line-height: 32px;
      font-size: 10px;
    }
  }
}