.service {

  .service-title {
      margin-top: 70px;
      text-align: center;
      color: #4e4e4e;
      font-family: $global-montserrat-regular;
      font-size: 36px;
      font-weight: 400;
      line-height: 40px;
  }
  .h-line-1 {
    margin: 36px auto 0;
    width: 76px;
    height: 1px;
    background-color: $color-aqua;
  }
  .h-line-2 {
    margin: 3px 51% 50px 49%;
    width: 76px;
    height: 1px;
    background-color: $color-aqua;
  }
  .service-ul {
    list-style: none;
    text-align: center;
    border-bottom: none;
    .service-li {
      margin-left: -5px;
      float: none;
      display: inline-block;
      background-color: #f8fcfe;
    }
    .service-li>a {
      margin: 0;
      padding: 10px 10px;
      border: 1px solid #ebebeb;
      position: relative;
      font-family: $global-montserrat-regular;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      cursor: pointer;
      color: #717171;
      &:hover {
        border-bottom: none;
        border-top: none;
        color: white;
        background-color: $color-aqua;
        text-decoration: none;
      }
      &:focus {
        border-bottom: none;
        border-top: none;
        color: white;
        background-color: $color-aqua;
      }
    }
    .service-li a:hover:after,
    .service-li a:focus:after{
      bottom: 0;
      margin-bottom: -10px;
      left: 45%;
      width: 20px;
      height: 20px;
      content: "";
      position: absolute;
      background-color: $color-aqua;
      transform: rotate(45deg);
    }
  }
  .tab-content {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    .content-img {
      float: left;
    }
    .service-info {
      float: left;
      text-align: justify;
      width: 66%;
      margin-left: 35px;
    }
  }
}