  .service {
    padding: 100px 0;
    .service-title {
        margin: 20px auto;
        text-align: center;
        color: #4e4e4e;
        font-family: $global-montserrat-regular;
        font-size: 36px;
        font-weight: 400;
    }
    .h-line-1 {
      width: 76px;
      height: 1px;
      margin: 36px auto 0;
      background-color: $color-aqua;
    }
    .h-line-2 {
      margin: 3px 51% 50px 49%;
      width: 76px;
      height: 1px;
      background-color: $color-aqua;
    }
    .service-ul {
      list-style: none;
      text-align: center;
      border-bottom: none;
      .service-li {
        margin-right: -5px;
        float: none;
        display: inline-block;
        background-color: #f8fcfe;
      }
      .service-li>a {
        margin: 0;
        padding: 15px 25px;
        border: 1px solid #ebebeb;
        border-radius: 0;
        position: relative;
        font-family: $global-montserrat-regular;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        cursor: pointer;
        color: #717171;
        &:hover {
          border-bottom: none;
          border-top: none;
          color: white;
          background-color: $color-aqua;
          text-decoration: none;
        }
        &:focus {
          border-bottom: none;
          border-top: none;
          color: white;
          background-color: $color-aqua;
        }
      }
      .service-li a:hover:after,
      .service-li a:focus:after{
        width: 20px;
        height: 20px;
        margin-bottom: -10px;
        bottom: 0;
        left: 44%;
        content: "";
        position: absolute;
        background-color: $color-aqua;
        transform: rotate(45deg);
      }
    }
    .tab-content {
      margin-top: 50px;
      .content-img {
        float: left;
        margin-left: 10.5%;
      }
      .service-info {
        float: left;
        text-align: justify;
        width: 57%;
        padding-left: 30px;
      }
    }
  }
  @media #{$bootstrap-md} {
    .service .tab-content .content-img {
      margin-left: 2%;
    }
    .service .tab-content .service-info {
      width: 71%;
    }
  }
  @media #{$bootstrap-sm} {
    .service .service-ul .service-li>a {
      padding: 10px 10px;
    }
    .service .tab-content .content-img {
      margin-left: 0;
    }
    .service .tab-content .service-info {
      width: 68%;
      padding-left: 20px;
    }
  }
  @media #{$bootstrap-xs} {
    .service {
      padding: 50px 0;
      .service-title {
        font-size: 20px;
      }
      .h-line-1 {
        margin-top: 15px;
      }
      .h-line-2 {
        margin-bottom: 20px;
      }
      .service-ul {
        .service-li {
          margin-bottom: 14px;
        }
        .service-li > a {
          padding: 10px 8px;
          font-size: 10px;
        }
        .service-li a:focus:after,
        .service-li a:hover:after {
          left: 38%;
        }
      }
      .tab-content {
        margin-top: 20px;
        .content-img {
          margin: 0 auto;
          float: none;
          display: block;
        }
        .service-info {
          width: 75%;
          padding-left: 0;
          margin: 20px auto 40px auto;
          float: none;
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }