.team {

  .team-title {
    margin-top: 100px;
    color: #4e4e4e;
    font-family: $global-montserrat-regular;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
  }
  .h-line-1 {
    margin: 36px auto 0;
    width: 76px;
    height: 1px;
    background-color: $color-aqua;
  }
  .h-line-2 {
    margin: 3px 51% 50px 49%;
    width: 76px;
    height: 1px;
    background-color: $color-aqua;
  }
  .team-person {
    width: 23%;
    padding: 0;
    float: left;
    height: 371px;
    list-style: none;
    margin-right: 10px;
    margin-left: 10px;
      &:hover .person-img>.hover-add-img {
        display: block;
      }
      &:hover .person-info,
      &:hover .person-social {
      background-color: $color-aqua;
      }
      &:hover .person-info>.proff-person {
        color: #2e4a5b;
      }
      &:last-child {
        margin-right: 0;
      }
    .person-img {
      height: 229px;
      background-color: #dae9e6;
      position: relative;
      .hover-add-img {
        position: absolute;
        display: none;
        top: 35%;
        right: 35%;
      }
      .person-foto {
        height: 229px;
        width: 100%;
        z-index: -1;
      }
    }
    .person-info {
      height: 77px;
      background-color: #2e4a5b;
      .name-person {
        padding-top: 15px;
        padding-left: 15px;
        margin: 0;
        color: white;
        font-family: $global-montserrat-regular;
        font-size: 16px;
        font-weight: 700;
        line-height: 25px;
      }
      .proff-person {
        padding-left: 15px;
        margin: 0;
        color: $color-aqua;
        font-family: $global-montserrat-regular;
        font-size: 13px;
        font-weight: 300;
        line-height: 39px;
      }
    }
    .person-social {
      text-align: center;
      height: 65px;
      width: 100%;
      background-color: #2e4a5b;
      display: inline-block;
      a {
        line-height: 57px;
        margin-right: -5px;
        display: inline-block;
        width: 25.5%;
        border: 1px solid white;
        &:first-child {
          margin-left: -5px;
        }
      }
      .social-icon {
        padding-top: 14px;
        font-size: 30px;
        display: inline-block;
        color: white;
      }
    }
  }
}
